@import './assets/css/satoshi.css';

* {
  font-family: 'Satoshi-Variable', 'Satoshi-Regular', system-ui, -apple-system, sans-serif;
}

body {
  font-family: 'Satoshi-Variable', 'Satoshi-Regular', system-ui, -apple-system, sans-serif;
}
